@media print {
header, nav, footer {
display: none;
}


body { 
background: white:
color: black;
font-size: 12pt;
}

table {
width: 100%
border: 1px solid black;
}
a {
color: black;
text-decoration: none;
{

img{
 display: none;
}
}
