:root{

#root{
--blue:#2980B9;
--blue-600:#206b99;
--ink:#2C3E50;
--card:#ffffff;
--shadow:0 10px 28px rgba(16,24,40,.08);
--radius:14px;
--container:1180px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}



body{
margin:0;
font-family:Inter,system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial;
@@ -17,9 +23,10 @@
background:#f6f8fa;
font-size:16px; 
height: 100%;
   display: flex;
   flex-direction: column;
   padding-bottom: 200px
   width: 100%;
   
   
   

}

@@ -41,27 +48,28 @@
display:flex;
align-items:center;
justify-content:space-between;
  padding: 20px;
}

.logo{
font-weight:800;
color:var(--blue);
letter-spacing:.3px;
}

nav ul{
display:flex;
gap:22px;
list-style:none;
margin:0;
padding:0;
}

nav a{
font-weight:600;
color:#2C3E50;
padding:10px 12px;
border-radius:10px;
transition:all .25s ease;
}

@@ -127,27 +135,30 @@
.icons{
display: flex;
justify-content: space-around;
  margin: 40px 0;
  margin: 40px auto;
text-align: center;
 padding: 25px 120px;
 background-color: #f6f8fa;
  gap: 30px;
}

#icon1 {

  position: absolute;
 
top: 550px;
left: 0;
}

#icon2 {
  position: absolute;
  top: 550px;

  top: 0;
right: 0;

}


#icon3{
  position: absolute;
 
top: 550px;
right: 40%;
}
@@ -156,7 +167,7 @@
display: flex;
align-items: center;
gap: 30px;
  background-color: #f0f0f0;
  background-color: #2C3E50;
padding: 25px 100px;     
border-radius: 12px; 

@@ -304,22 +315,21 @@



footer{
footer {
background: var(--blue);
color: white;
  position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
  }

  height: 80px;
  width: 100%;
  margin-top: auto; /* 👈 trycker ner footern istället för fixed */
}

.footer-container{
.footer-container {
display: flex;
flex-direction: row;
text-align: center;
padding: 0 20px;
justify-content: space-between;
  
  align-items: center;
  height: 100%;
}
